@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .head {
        width: 100%;
    }

    .logo {
        height: 50px;
    }

    .card {
        margin-bottom: 0px;
    }

    .card3 {
        margin-bottom: 30px;
    }

    .mob {
        display: none;
    }

    .deks {
        display: block;
    }

    .head {
        font-size: 90px;
    }

    .board {
        height: 345px;
        width: 345px;
    }

    .flip-box {
        height: 345px;
        width: 345px;
    }

    .flip-box-front {
        height: 345px;
        width: 345px;
    }

    .play {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .piece {
        height: 270px;
    }

    .first3 {
        margin-top: 120px;
        padding: 0px;
    }

    .first {
        padding-bottom: 20px;
    }

    .first2 {
        margin-top: 120px;
        margin-bottom: 60px;
    }

    .head2 {
        width: 80%;
        font-size: 30px !important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .head {
        font-size: 100px;
        width: 85%;
    }
}